<%= form_for @movie, :html => {:class => 'x'} do |f| %>
  <%= f.text_field :writer, class: "form-control" %>
  <div class="form-group">
  <% @films.each do |film| %>
    <%= f.radio_button(:film_ids, film.id) %>
    <%= f.label(:film_ids, film.title) %>
  <% end %>
  </div>
  <div class="form-group">
  <% @planets.each do |planet| %>
    <%= f.check_box(:planet_ids, {:multiple => true}, planet.id, nil ) %>
    <%= f.label(:planet_ids, planet.name) %>
  <% end %>
  </div>
  <div class="form-group">
  <% @people.each do |person| %>
    <%= f.check_box(:person_ids, {:multiple => true}, person.id, nil ) %>
    <%= f.label(:person_ids, person.name) %>
  <% end %>
  </div>
  <%= f.submit %>
<% end %>
